<div class="row">
  <div class="col-md-12 bg-dark p-2">
    <button class="btn btn-outline-light"  [routerLink]="[baseUrl,'create']" >Yeni Kayıt Ekle</button>
  </div>

  <div class="col-md-12 bg-success p-2" *ngIf="!isMakinesiList">

    <div class="spinner-border spinner-border-sm text-light mr-2" role="status">
    </div>
    <div class="spinner-grow spinner-grow-sm text-light mr-2" role="status">
    </div>
    <span class="text-white">Yükleniyor lütfen bekleyin.</span>

  </div>

  <table class="table" *ngIf="isMakinesiList">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Plaka</th>
        <th>Makine Cinsi</th>
        <th>Motor Saati</th>
        <th>İlk Kayıt Tarihi</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let makine of isMakinesiList | async ; index as i">
        <th>{{ i + 1 }}</th>
        <td>{{ makine.plaka }}</td>
        <td>{{ makine.makineCinsi }}</td>
        <td>{{ makine.motorSaati }}</td>
        <td>{{ makine.createdAt }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" [routerLink]="[baseUrl,'edit',makine._id]">Düzenle</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="setSelected(makine)">Sil</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal dialog penceresi -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Silmek istediğinize emin misiniz ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seçtiğiniz veri kalıcı olarak silinecektir.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" #closebutton data-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-danger" (click)="delete()"  [class.disabled]="isLoading" [disabled]="isLoading">
          <span name="loadingSpan" class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"></span>
          Evet</button>
      </div>
    </div>
  </div>
</div>
