<div class="mt-2">
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Hizmetler</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Harfiyat</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>İnşaat</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Nakliyat</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Alt yapı</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Ve daha fazlası</a
              >
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Hakkımızda</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Biz kimiz</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Neredeyiz</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Araçlarımız</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>İletişim</a
              >
            </li>
            <li>
              <a href="javascript:void();"
                ><i class="fa fa-angle-double-right"></i>Referenslar</a
              >
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();" target="_blank"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div
          class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
        >
          <p>
            Kurt Yapı Hafriyat İnşaat ve Gıda Sanayi Ticaret Limited Şirketi
          </p>
        </div>
        <hr />
      </div>
    </div>
  </section>
</div>
